.songPlaylist-wrapper {
    background-color: #0d1722;
    width: 97% !important;
    border-radius: 10px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em 4em !important;
}

.playlist-info {
    background-color: yellow;
    // width: 80%;
    height: 20vh;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0;
    padding-left: 2%;
    border-radius: 15px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;

    .playlist-details {
        position: absolute;
        bottom: 0;
        padding-bottom: 35px;
    }

    h4 {
        margin: 0;
    }

    p {
        margin: 0;
        // color: grey;
    }
}

.playlist-wrapper {
    background-color: #0d1722;
    width: 97% !important;
    border-radius: 10px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px !important;
}

.customize-hr-playlist-song {
    height: 5px;
    background-color: #18191A;
    width: 35%;
    margin-right: 20em;
    margin-left: 6em;
}

.modify-width-height-image {
    width: 100px;
    height: 100px;
}

.position-pencil {
    position: relative;
    top: 2.2em;
    margin-left: -20px;
}

.position-text-playlist {
    position: relative;
    top: 1.5em;
}

.position-hr {
    position: block;
    top: 7.5em;
}

.pencil-edit {
    position: relative;
    left: 3.5em;
    color: white;
}

.position-button-edit {
    top: 3.5em;
    margin-left: -20px;
}

.image-playlist{
    position: relative;
    width: 100px;
    height: 100px;
}

.image-playlist-layer{
     position: absolute;
    top: 0;
    bottom: 0;
    left: 37%;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.image-playlist:hover .image-playlist-layer{
  visibility: visible;
  opacity: 1;
}

.edit-pen-icon{
    width: 30px !important;
    height: 30px !important;
    cursor: pointer;
}



.hide {
    visibility:hidden;
    cursor: pointer;
}
.songs:hover .hide {
    visibility:visible;
}

.songs:hover {
    background: rgba(196, 196, 196, 0.31);
}

.playlistSong-page {
    overflow: hidden;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(130,130,133,1) 100%);
}

.margin-top2rem {
    margin-top: 2rem;
}

.position-toast-error {
    position: fixed;
    top: 5%;
    left: 45%;
    z-index: 1;
}


@media (max-width: 992px){
    .songPlaylist-wrapper {
        background-color: #0d1722;
        width: 97% !important;
        border-radius: 10px;
        box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1em 3em !important;
    }

    .custom-padding-5{
        padding-left: 0rem;
    }

    .col-show{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .songPlaylist-wrapper {
        background-color: #0d1722;
        width: 97% !important;
        border-radius: 10px;
        box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1em 1em !important;
    }

    .custom-padding-5{
        padding-left: 0rem;
    }

    .break-container{
        max-width: 1650px !important;
    }
}

@media (min-width: 1200px) {
    .songPlaylist-wrapper {
        background-color: #0d1722;
        width: 97% !important;
        border-radius: 10px;
        box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1em 4em !important;
    }

    .break-container{
        max-width: 1650px !important;
    }

    .custom-padding-5{
        padding-left: 0rem;
    }
}

