.custom-hr-songlist {
    background-color: white;
    height: 2px;
    width: 100%;
}
.background-brown {
    padding: 10px;
    border-radius: 10px;
    background-color: #0d1722;
    color: white;
    box-shadow: 0px 2px 13px -5px rgba(0,0,0,0.83)
}

.lagu-daerah {
    color: 	#F8F8FF;
}

.margin-left-02 {
    margin-left: 0.2em !important;
}

.songlist-wrapper {
    background-color: #0d1722;
    width: 97% !important;
    border-radius: 10px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px !important;
}

.tes {
    overflow: hidden;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(130,130,133,1) 100%);
}

.new-year {
    margin-left: -20px;
}

.position-toast {
    position: fixed;
    top: 70%;
    left: 45%;
    z-index: 1;
}

.custom-padding-5{
    padding-left: 5rem;
}

.search-input{
    &-container{
        text-align: center;
    }
}

.search-song {
    svg {
        position: absolute;
        top: 1.5em;
        right: 13.5em;
    }

    .text-indent-10px {
        padding-left: 25px;
    }
    input {
        border-radius: 50px;
    }
}

@media (max-width: 992px){
    .custom-padding-5{
        padding-left: 0rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .break-container{
        max-width: 1650px !important;
    }

    .custom-padding-5{
        padding-left: 0rem;
    }
}

@media (min-width: 1200px) {
    .break-container{
        max-width: 1650px !important;
    }

    .custom-padding-5{
        padding-left: 0rem;
    }
}

