.uploaded-song-wrapper {
    margin: auto;
    margin-top: 20px;
    background-color: #0d1722;
    width: 80% !important;
    min-height: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px !important;
}

.uploadedSong-heading-padding{
    padding-left: 5em;
}

.uploadedSong-padding-first{
    padding-left: 5em;
}

@media (max-width: 992px){
    .uploadedSong-heading-padding{
        padding-left: 2rem
    }
    custom-show{
        display: none;
    }

    .uploadedSong-padding-first{
        padding-left: 1rem;
    }
}


@media (min-width: 992px) and (max-width: 1400px) {
    custom-show{
        display: none;
    }

    .uploadedSong-heading-padding{
        padding-left: 2rem
    }

    .uploadedSong-padding-first{
        padding-left: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
    .custom-show{
        display: none;
    }
}