.custom-login--btn {
  width: 7em;
  padding: 0.2em;
  float: right;
  margin-right: 24%;

  &__container {
    width: 100%;
  }
}
.login__image{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 0;
  margin: 0;

  &--container{
    padding: 0;
    overflow: hidden;
  }
}

.register__image{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 0;
  margin: 0;

  &--container{
    padding: 0;
    overflow: hidden;
  }
}

.custom-register--btn {
  width: 75%;
  height: 5vh;
}

.custom-register--btn:hover {
    background-color: red !important;
    color: white !important;
}


.custom-height-100vh {
  height: 100vh;
}


.custom-textbox-login {
  width: 75%;
  padding-top: 0.2em;
}

.padding-0 {
  padding: 0 !important;
}

.background-image-login {
  background-image: url('../../public_images/mountain.png');
  background-position: center;
  background-size: cover;
}

.max-width-100 {
  width: 100%;
}

.border-radius-10px {
  border-radius: 10px;
}

.custom-login-input {
  padding: 5px;
}


@media (max-width: 768px) {
  .register__image{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 0;
    margin: 0;

    &--container{
      display: none;
    }
  }

  .login__image{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 0;
    margin: 0;

    &--container{
      display: none;
    }
  }
}

@media (min-width:768px) and (max-width: 992px) {

}

@media (min-width: 992px) and (max-width: 1400px) {

}