.custom-login--btn {
    width: 7em;
    padding: 0.2em;
 
}

.custom-register--btn {
    width:75%;
    height: 5vh;
}

.custom-register--btn:hover {
    background-color: red !important;
    color: white !important;
}

.custom-height-100vh {
    height:100vh;
}

.custom-margin-left {
    margin-left: 24em;
}

.custom-textbox-login {
    width: 75%;
    padding-top: 0.2em; 
}

.padding-0 {
    padding:0 !important;
}

.background-image-login {
    background-image: url('../../public_images/mountain.png');
    background-position: center;
    /* margin-left: 10px; */
    background-size: cover;
}

.max-width-100 {
    max-width: 100% !important;
}

.border-radius-10px {
    border-radius: 10px;
}

.custom-login-input {
    padding: 5px;
}