.admin-page {
  padding: 30px;
  width: 100%;
  min-height: 90.8vh;
  margin-bottom: 30px;
  color: white;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(130,130,133,1) 100%);
}

.AdminSong {
  &-heading {
    &-title {
      &-1 {
        padding-left: 40%;
      }
      &-2 {
        padding-left: 5rem;
      }
      &-3{
        padding-left: 88%;
      }
    }
  }

  &-wrapper {
    margin: auto;
    margin-top: 20px;
    background-color: #0d1722;
    width: 80% !important;
    min-height: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px !important;
  }
}

.custom-delete--btn {

}

.forbidden-access {
  margin: auto;
  margin-top: 200px;
  background-color: #0d1722;
  width: 80% !important;
  min-height: 40%;
  border-radius: 10px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 20px !important;
  color: white;

  p {
    //    margin-left: 200px;
    padding-top: 100px;
    font-size: 30px
  }
}

.deleteBtn-admin {
  width: 65px;
  padding-left: 10px !important;
}

.margin-left--custom {
  margin-left: 70px !important;
}

.center-report {
  text-align: center;
}

.AdminSong-heading-title {
  padding-left: 50%;
}

.tesit {
  word-break: break-word;
}

.custom-padding {
  padding-left: 3rem;

  &-2{
    padding-left: 2rem;
  }
  &-3{
    padding-left: 2rem;
  }
  &-4{
    padding-left: 16%;
  }
}


@media (max-width: 992px) {
  .AdminSong {
    &-wrapper {
      margin: auto;
      margin-top: 20px;
      background-color: #0d1722;
      width: 98% !important;
      min-height: 40%;
      border-radius: 10px;
      box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding-bottom: 20px !important;
      padding-left: 30px;
    }

    &-heading {
      font-size: 14px;

      &-title {
        &-1 {
          padding-left: 50%;
        }

        &-2 {
          padding-left: 0rem;
        }
        &-3{
          padding-left: 2rem;
        }
      }
    }
  }

  .custom-padding {
    padding-left: 1rem;
    &-2{
      padding-left: 0rem;
    }
    &-3{
      padding-left: 9%;
    }
  }

  .report-section{
    padding-left: 20%;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .AdminSong {
    &-wrapper {
      margin: auto;
      margin-top: 20px;
      background-color: #0d1722;
      width: 90% !important;
      min-height: 40%;
      border-radius: 10px;
      box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding-bottom: 20px !important;
    }

    &-heading {
      font-size: 18px;

      &-title {
        &-1 {
          padding-left: 50%;
        }

        &-2 {
          padding-left: 0rem;
        }
      }
    }
  }

  .custom-padding {
    padding-left: 3rem;

    &-2{
      padding-left: 2rem;
    }
    &-3{
      padding-left: 1rem;
    }
    &-4{
      padding-left: 16%;
    }
  }
}