.ml-02 {
    margin-left: 0.2em;
}

.customize-hr {
    width: 90%;
    background-color: #132030;
}

.title-songs {
    color: 	#F8F8FF;
}

.row-light-grey {
    background: rgba(196, 196, 196, 0.31);
}

.click {
    display: none;
}

.center-test{
    text-align: center;
}

.go-detail {
    color:white;
    font-size: 15px;
}

.go-detail:hover {
    color: grey
}

// .grey-hover:hover{
//     color:grey;
// }

@media (max-width: 992px) {
    .show{
        display: none;
    }

    .detail-btn{
        margin-left: 50%;
    }
}

