

.player {
    display: flex;
    flex-direction: column;
  }
  
  .player__body {
    display: flex;
    flex-grow: 1;
  }


.songplayer-container{
    width: 89%;
    margin-left: 230px;
}

@media (max-width: 992px) {
    .songplayer-container{
        width: 100%;
        margin-left: 0 !important;
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
    .songplayer-container{
        width: 84%;
        margin-left: 230px !important;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .songplayer-container{
        width: 84%;
        margin-left: 230px !important;
    }
}
  