.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  min-height: 100%;
  color: white;
  background-color: #040404;
  position: relative;

  &-no-collapse {
    position: fixed;

    &__logo {
      margin-right: auto;
      object-fit: contain;
      height: 70px;
      padding: 10px;
    }

    &__title {
      margin-top: 20px;
      margin-left: 10px;
      padding: 5px;
      font-size: 12px;
    }

    &__option{
      width: 200px;
    }

    hr {
      background-color: white;
    }
  }

  .bottom-section{
    position: fixed;
    bottom: 30px;
  }
}

.button-close{
  color:white;
  position: absolute;
  right: 0;
  top: 18px;
  height: 1.5em !important;
}


.sidebar-2 {
  display: none;
  flex-direction: column;
  flex: 0.2;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  min-height: 100%;
  color: white;
  background-color: #040404;
  position: relative;
  z-index: 99;
  transition: 0.5s;

  &-no-collapse {
    position: fixed;

    &__logo {
      margin-right: auto;
      object-fit: contain;
      height: 70px;
      padding: 10px;
    }

    &__title {
      margin-top: 20px;
      margin-left: 10px;
      padding: 5px;
      font-size: 12px;
    }

    &__option{
      width: 200px;
    }

    hr {
      background-color: white;
    }
  }


  .bottom-2-section{
    position: fixed;
    bottom: 30px;
  }
}

.button-test{
  &-container{
    position: relative;
  }
  position: absolute;
  display: none
}

.font-logo{
  font-weight: 800;
  font-size: 20px;
}

@media (max-width: 992px) {
  .button-test{
    height: 2em !important;
    &-container{
      position: relative;
    }
    position: absolute;
    display: block
  }

  .sidebar {
    display: none;
    flex-direction: column;
    flex: 0.2;
    min-width: 125px;
    min-height: 100%;
    color: white;
    // float: left;
    background-color: #040404;
    position: relative;

    &-no-collapse {
      position: fixed;

      &__logo {
        margin-right: auto;
        object-fit: contain;
        height: 70px;
        padding: 10px;
      }

      &__title {
        margin-top: 20px;
        margin-left: 10px;
        padding: 5px;
        font-size: 12px;
      }

      &__option{
        width: 65px;

        > a{
          display: block;
          margin-bottom: 25px;
        }

      }


      hr {
        background-color: white;
      }
    }

    .bottom-section{
      position: fixed;
      bottom: 30px;
    }
  }

  .sidebar-2 {
    display: flex;
    flex-direction: column;
    flex: 0.2;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    min-height: 100%;
    color: white;
    // float: left;
    background-color: #040404;
    position: fixed;
    z-index: 99;

    &-no-collapse {
      position: fixed;

      &__logo {
        margin-right: auto;
        object-fit: contain;
        height: 70px;
        padding: 10px;
      }

      &__title {
        margin-top: 20px;
        margin-left: 10px;
        padding: 5px;
        font-size: 12px;
      }

      &__option{
        width: 200px;
      }

      hr {
        background-color: white;
      }
    }

    .bottom-2-section{
      position: fixed;
      bottom: 30px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {

}

@media (min-width: 1400px) {

}
