.custom-searchSong {
    background-color: lightgrey;
    padding-left: 5px;
    padding-right: 5px;
    border: 0.5 solid black;
    box-shadow: 0px 2px 13px -5px rgba(0,0,0,0.35);
    position:absolute;
    right: 3em;
    top: 4em;
    z-index: 100;
    width: 10vw;
}

.custom-searchSong-hide {
    border: 1px solid black;
    background-color: lightgrey;
}

.list-searchSong{
    cursor: pointer;
    list-style-type: none;
    color: black;
    font-weight: 500;
}

.list-searchSong:hover {
    background-color: rgba(255,255,255, 0.4);
}

.search-custom-song{
  position:absolute;
  right: 0;
  top:10px;
}
.search-custom-song-2{
  top:0px;
}

.search-custom-song-icon{
  position: absolute;
  right: 11.4em !important;
}

@media (max-width: 992px){
  .custom-searchSong {
    background-color: lightgrey;
    padding-left: 5px;
    padding-right: 5px;
    border: 0.5 solid black;
    box-shadow: 0px 2px 13px -5px rgba(0,0,0,0.35);
    position:absolute;
    right: 3em;
    top: 4em;
    z-index: 100;
    width: 20vw;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .custom-searchSong {
    background-color: lightgrey;
    padding-left: 5px;
    padding-right: 5px;
    border: 0.5 solid black;
    box-shadow: 0px 2px 13px -5px rgba(0,0,0,0.35);
    position:absolute;
    right: 3em;
    top: 4em;
    z-index: 100;
    width: 15vw;
  }
}
