.font-family--helvetica {
    /* font-family: 'Montserrat', sans-serif; */
}

.background-color--textbox {
    background-color: rgba(196, 196, 196, 0.47);
}

.background-color--grey--opacity100 {
    background-color: #C4C4C4;
}

.border-none {
    border: none;
}

.text-black-custom {
    color: black !important;
    font-weight: 600 !important;
}

.font-size--2em {
    font-size: 2em;
}

.MuiSvgIcon-root {
    width : auto !important;
}

.sidebarOption h4 {
    font-size: 1em;
}

.rhap_progress-filled {
    background-color: #2B9EF1 !important;
}

.rhap_container {
    /* background-color: #565454 !important; */
    background-color: 	#18191A !important;
}

.rhap_time {
    color: white !important;
}

.rhap_button-clear {
    color:white !important;
} 

.border-left-blue {
    border-left: 5px solid #2B9EF1;
    color: white !important;
}

.sidebar-left-white {
    color: white !important;
}

.border-black {
    border: 2px solid black;
}

.custom-height-width-image {
    width: 200px;
    height: 200px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators {
    top: 15em;
}

.carousel-indicators li {
    background-color: black !important;
}

.carousel-control-next {
    right: -2em !important;
}
.carousel-control-prev {
    left: -2em !important;
}


.grey-hover:hover{
    color:grey !important;
}

input {
    outline: none;
}       

.search-input:focus {
    transition-duration: 0.3s;
    border: 2px solid #2B9EF1;
    box-shadow: -4px 7px 29px -17px #2B9EF1;
}

.search-input:hover {
    transition-duration: 0.3s;
    border: 2px solid #2B9EF1;
    box-shadow: -4px 7px 29px -17px #2B9EF1;
}

.height-2em {
    height: 2em;
}








