.user-profile {
  width: 100%;
  background: red linear-gradient(transparent, rgba(0, 0, 0, 1)) no-repeat fixed center;
}

.user-info {
  background-color: yellow;
  width: 80%;
  height: 20vh;
  margin: 10px auto;
  padding-top: 0;
  padding-left: 2%;
  border-radius: 15px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;

  .user-details {
    position: absolute;
    bottom: 0;
    padding-bottom: 35px;
  }

  h4 {
    margin: 0;
  }

  p {
    margin: 0;
    // color: grey;
    //test
  }
}

.edit-icon {
  width: 15px;
  margin-left: 10px;
  cursor: pointer;

  :hover {
    color: darkgrey;
  }
}

.user-playlists {
  display: flex;
}

.songs:hover .hide {
  display: inline;
}

.songs:hover {
  background: rgba(196, 196, 196, 0.31);
}

.background-image-profile {
  background-image: url('../../public_images/mountain.png');
  background-position: center;
  background-size: cover;


  .search-song {
    margin-right: 3em;
    svg {
      position: absolute;
      top: 1.5em;
      right: 13.3em;
    }

    .text-indent-10px {
      padding-left: 25px;
    }

    input {
      border-radius: 50px;
    }
  }

  .all-content-info {

    background: rgba(196, 196, 196, 0.55);
    width: 50%;

    .user-fullname {
      font-weight: 600;
      font-size: 18px;
    }

    .email-address-info {
      color: rgba(0, 0, 0, 0.59);
    }

    .change-margin-left-hr {
      margin-left: 2em;
    }

    .customize-hr {
      background-color: black;

    }

    .height-1px {
      height: 1px;
    }
  }

  .position-relative-content {
    position: relative;
    left: 4em;
  }
}

.padding-15px {
    padding-left: 15px;
    padding-right: 15px;
}

.height-50vh {
  height: 50vh;
}

.profile-header{
  margin-left: 3rem !important;
}

@media (max-width: 992px) {

  .profile-header{
    margin-left: 1.5rem !important;
  }

  .background-image-profile {

    .all-content-info {
      background: rgba(196, 196, 196, 0.55);
      width: 80%;
    }

    .position-relative-content {
      position: relative;
      left: 2.5em;
    }

    .search-song{
      margin-right: 2rem;

      svg{
        top: 1.5em;
        right: 12.3em;
      }
    }
  }

}

@media (min-width: 992px) and (max-width: 1400px) {
  .background-image-profile {

    .all-content-info {
      background: rgba(196, 196, 196, 0.55);
      width: 60%;
    }

    .position-relative-content {
      position: relative;
      left: 2.5em;
    }

    .search-song{
      margin-right: 2rem;

      svg{
        top: 1.5em;
        right: 12.3em;
      }
    }
  }
}



