.new-song-wrapper {
    margin: auto;
    margin-top: 20px;
    background-color: #0d1722;
    width: 100% !important;
    min-height: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px !important;
}