.likedSong-page {
  overflow: hidden;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(130, 130, 133, 1) 100%);
}

.search-song-likedsong{
  right: 12.5em !important;
}
.heart-icon-wrapper {
  cursor: pointer;
  // &:hover {
  //     width: 250px;
  // }
}

.liked-song {
  background-image: url('../../public_images/heart-icon.png');
  background-size: 50px;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  background-color: white;
  margin-left: 20px;
  cursor: pointer;
}


.likedSong {
  &-heading {

    &-padding {
      padding-left: 2em;

      &-2 {
        padding-left: 1em;
      }
    }

    &-title {
      &-1 {
        padding-left: 40%;
      }

      &-2 {
        padding-left: 5rem;
      }
    }
  }

  &-wrapper {
    margin: auto;
    margin-top: 20px;
    background-color: #0d1722;
    width: 97% !important;
    min-height: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px !important;
    padding: 0 2rem;
  }
}

.upwards-content {
    position: relative;
    top: 0;
    transition : top ease-in-out 0.2s;
}

.upwards-content:hover {
    top: -30px;
}


@media (max-width: 992px) {
  .likedSong {
    &-heading {
      &-title {
        &-1 {
          padding-left: 40%;
        }

        &-2 {
          padding-left: 5rem;
        }
      }
    }

    &-wrapper {
      margin: auto;
      margin-top: 20px;
      background-color: #0d1722;
      width: 95% !important;
      min-height: 40%;
      border-radius: 10px;
      box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding-bottom: 20px !important;
    }
  }

}

@media (min-width: 992px) and (max-width: 1400px) {

}
